*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

.page1{
     display: grid;
     flex-direction: column;
     align-items: fill;
     background-color: aliceblue;
     grid-template-columns: 1fr 1fr 1fr;
     border:slateblue solid 1px;
     border-width: 5px;
}

header{
     display: inline-block;
     align-items: center;
     padding: 2em;
     background-color:wheat;
     grid-column-start: 1;
     grid-column-end: 4;
     grid-row-start: 1;
     grid-row-end: 2;
     border: solid skyblue 6pt;

}

header ul{
     margin-left: auto;
     display: flex;
     list-style: none;
     color: black;
     align-items: center;
     font-size: 2rem;

}

header ul li{
     margin-left: auto; 
     margin-right: auto;
     list-style: none;
     align-items: center;
     display: inline-block;
     font-size: 2rem;
     text-align: center;
     font-family:cursive;
}


main{
     background-image: url(../images/page1/hp1.jpeg);
     grid-row-start: 2;
     grid-row-end: 3;
     grid-column-start: 1;
     grid-column-end: 3;
     padding: 1em;
     background-repeat: no-repeat;
     background-size: 100% 100%;
     border: 1px solid rgba(red, green, blue, alpha);
     height: 1335px;
}

aside{
     grid-column-start: 3;
     grid-column-end: 3;
     grid-row-start: 2;
     grid-row-end: 3;
     background-color:cadetblue;
     padding: 3em;
     


}

aside h2{
     text-align: center;
     font-family:cursive;
     font-size: 40px;
     color:tomato;
     background-color: cadetblue; 
     
     
}

aside ul{
     list-style: none;
     text-align: center;
     font-weight: 700;

     
}

aside ul li{
     font-family:cursive;
     font-size: 30px;
     color: lightcoral;
     box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
     margin-bottom: 7px;
     background-color:wheat;
     color: #ffffff;
     
}

aside canvas
{
     align-items: center;
     margin-left: 35%;
}

footer{
     grid-row-start: 3;
     grid-row-end: 4;
     grid-column-start: 1;
     grid-column-end: 4;
     background-color: #0099cc;
     color: #ffffff;
     text-align: center;
     font-size: 20px;
     padding: 25px;
}


html {
     font-family: "Lucida Sans", sans-serif;
}